N3-Modeling-Tool/plugins/org.modeldriven.niem3.mpd.changelog/srcmodel/mpd-changelog-1.1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:log="http://reference.niem.gov/niem/resource/mpd/changelog/1.1/" xmlns:model="http://reference.niem.gov/niem/resource/model/1.1/" xmlns:niem-xsd="http://niem.gov/niem/proxy/xsd/2.0" xmlns:s="http://niem.gov/niem/structures/2.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://reference.niem.gov/niem/resource/mpd/changelog/1.1/">
	<xsd:import namespace="http://reference.niem.gov/niem/resource/model/1.1/" schemaLocation="http://reference.niem.gov/niem/resource/model/1.1/niem-model-1.1.xsd"/>
	<xsd:import namespace="http://niem.gov/niem/proxy/xsd/2.0" schemaLocation="http://release.niem.gov/niem/proxy/xsd/2.0/xsd.xsd"/>
	<xsd:import namespace="http://niem.gov/niem/structures/2.0" schemaLocation="http://release.niem.gov/niem/structures/2.0/structures.xsd"/>
	<xsd:complexType name="ChangeLogType">
		<xsd:complexContent>
			<xsd:extension base="s:ComplexObjectType">
				<xsd:sequence>
					<xsd:element ref="log:ChangeLogSummaryText" minOccurs="0"/>
					<xsd:element ref="log:ChangeLogSubmitterName" minOccurs="0"/>
					<xsd:element ref="log:ChangeLogApplicationInstructionsText" minOccurs="0"/>
					<xsd:element ref="log:ChangeInformation" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="log:NewPropertyEntry" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="log:NewTypeEntry" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="log:NewTypeContainsPropertyEntry" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="log:NewFacetEntry" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="log:NewNamespaceEntry" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="log:ModifiedPropertyEntry" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="log:ModifiedTypeEntry" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="log:ModifiedTypeContainsPropertyEntry" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="log:ModifiedFacetEntry" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="log:ModifiedNamespaceEntry" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="log:RemovedPropertyEntry" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="log:RemovedTypeEntry" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="log:RemovedTypeContainsPropertyEntry" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="log:RemovedFacetEntry" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="log:RemovedNamespaceEntry" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ChangeLogEntryType">
		<xsd:complexContent>
			<xsd:extension base="s:ComplexObjectType">
				<xsd:sequence>
					<xsd:element ref="log:ChangeInformationAbstract" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ChangeInformationType">
		<xsd:complexContent>
			<xsd:extension base="s:ComplexObjectType">
				<xsd:sequence>
					<xsd:element ref="log:ChangeSummaryText" minOccurs="0"/>
					<xsd:element ref="log:ChangeReasonText" minOccurs="0"/>
					<xsd:element ref="log:ChangeFullDescriptionText" minOccurs="0"/>
					<xsd:element ref="log:ChangeNCCTIssueNumber" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="log:ChangeCode" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="ChangeCodeSimpleType">
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="new requirement"/>
			<xsd:enumeration value="bug fix"/>
			<xsd:enumeration value="refactoring"/>
			<xsd:enumeration value="harmonization"/>
			<xsd:enumeration value="general improvement"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="ChangeCodeType">
		<xsd:simpleContent>
			<xsd:extension base="log:ChangeCodeSimpleType">
				<xsd:attributeGroup ref="s:SimpleObjectAttributeGroup"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="NewPropertyEntryType">
		<xsd:complexContent>
			<xsd:extension base="log:ChangeLogEntryType">
				<xsd:sequence>
					<xsd:element ref="log:NewProperty"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ModifiedPropertyEntryType">
		<xsd:complexContent>
			<xsd:extension base="log:ChangeLogEntryType">
				<xsd:sequence>
					<xsd:element ref="log:OriginalProperty"/>
					<xsd:element ref="log:UpdatedProperty"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="RemovedPropertyEntryType">
		<xsd:complexContent>
			<xsd:extension base="log:ChangeLogEntryType">
				<xsd:sequence>
					<xsd:element ref="log:RemovedProperty"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="NewTypeEntryType">
		<xsd:complexContent>
			<xsd:extension base="log:ChangeLogEntryType">
				<xsd:sequence>
					<xsd:element ref="log:NewType"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ModifiedTypeEntryType">
		<xsd:complexContent>
			<xsd:extension base="log:ChangeLogEntryType">
				<xsd:sequence>
					<xsd:element ref="log:OriginalType"/>
					<xsd:element ref="log:UpdatedType"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="RemovedTypeEntryType">
		<xsd:complexContent>
			<xsd:extension base="log:ChangeLogEntryType">
				<xsd:sequence>
					<xsd:element ref="log:RemovedType"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="NewTypeContainsPropertyEntryType">
		<xsd:complexContent>
			<xsd:extension base="log:ChangeLogEntryType">
				<xsd:sequence>
					<xsd:element ref="log:NewTypeContainsProperty"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ModifiedTypeContainsPropertyEntryType">
		<xsd:complexContent>
			<xsd:extension base="log:ChangeLogEntryType">
				<xsd:sequence>
					<xsd:element ref="log:OriginalTypeContainsProperty"/>
					<xsd:element ref="log:UpdatedTypeContainsProperty"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="RemovedTypeContainsPropertyEntryType">
		<xsd:complexContent>
			<xsd:extension base="log:ChangeLogEntryType">
				<xsd:sequence>
					<xsd:element ref="log:RemovedTypeContainsProperty"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="NewFacetEntryType">
		<xsd:complexContent>
			<xsd:extension base="log:ChangeLogEntryType">
				<xsd:sequence>
					<xsd:element ref="log:NewFacet"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ModifiedFacetEntryType">
		<xsd:complexContent>
			<xsd:extension base="log:ChangeLogEntryType">
				<xsd:sequence>
					<xsd:element ref="log:OriginalFacet"/>
					<xsd:element ref="log:UpdatedFacet"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="RemovedFacetEntryType">
		<xsd:complexContent>
			<xsd:extension base="log:ChangeLogEntryType">
				<xsd:sequence>
					<xsd:element ref="log:RemovedFacet"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="NewNamespaceEntryType">
		<xsd:complexContent>
			<xsd:extension base="log:ChangeLogEntryType">
				<xsd:sequence>
					<xsd:element ref="log:NewNamespace"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ModifiedNamespaceEntryType">
		<xsd:complexContent>
			<xsd:extension base="log:ChangeLogEntryType">
				<xsd:sequence>
					<xsd:element ref="log:OriginalNamespace"/>
					<xsd:element ref="log:UpdatedNamespace"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="RemovedNamespaceEntryType">
		<xsd:complexContent>
			<xsd:extension base="log:ChangeLogEntryType">
				<xsd:sequence>
					<xsd:element ref="log:RemovedNamespace"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="ChangeLog" type="log:ChangeLogType"/>
	<xsd:element name="ChangeLogSummaryText" type="niem-xsd:string"/>
	<xsd:element name="ChangeLogSubmitterName" type="niem-xsd:string"/>
	<xsd:element name="ChangeLogApplicationInstructionsText" type="niem-xsd:string"/>
	<xsd:element name="ChangeInformationAbstract" abstract="true"/>
	<xsd:element name="ChangeInformation" type="log:ChangeInformationType" substitutionGroup="log:ChangeInformationAbstract"/>
	<xsd:element name="ChangeInformationReference" type="s:ReferenceType" substitutionGroup="log:ChangeInformationAbstract"/>
	<xsd:element name="ChangeSummaryText" type="niem-xsd:string"/>
	<xsd:element name="ChangeReasonText" type="niem-xsd:string"/>
	<xsd:element name="ChangeFullDescriptionText" type="niem-xsd:string"/>
	<xsd:element name="ChangeNCCTIssueNumber" type="niem-xsd:integer"/>
	<xsd:element name="ChangeCode" type="log:ChangeCodeType"/>
	<xsd:element name="NewPropertyEntry" type="log:NewPropertyEntryType"/>
	<xsd:element name="ModifiedPropertyEntry" type="log:ModifiedPropertyEntryType"/>
	<xsd:element name="RemovedPropertyEntry" type="log:RemovedPropertyEntryType"/>
	<xsd:element name="NewProperty" type="model:PropertyObjectType"/>
	<xsd:element name="OriginalProperty" type="model:PropertyObjectType"/>
	<xsd:element name="UpdatedProperty" type="model:PropertyObjectType"/>
	<xsd:element name="RemovedProperty" type="model:PropertyObjectType"/>
	<xsd:element name="NewTypeEntry" type="log:NewTypeEntryType"/>
	<xsd:element name="ModifiedTypeEntry" type="log:ModifiedTypeEntryType"/>
	<xsd:element name="RemovedTypeEntry" type="log:RemovedTypeEntryType"/>
	<xsd:element name="NewType" type="model:TypeObjectType"/>
	<xsd:element name="OriginalType" type="model:TypeObjectType"/>
	<xsd:element name="UpdatedType" type="model:TypeObjectType"/>
	<xsd:element name="RemovedType" type="model:TypeObjectType"/>
	<xsd:element name="NewTypeContainsPropertyEntry" type="log:NewTypeContainsPropertyEntryType"/>
	<xsd:element name="ModifiedTypeContainsPropertyEntry" type="log:ModifiedTypeContainsPropertyEntryType"/>
	<xsd:element name="RemovedTypeContainsPropertyEntry" type="log:RemovedTypeContainsPropertyEntryType"/>
	<xsd:element name="NewTypeContainsProperty" type="model:TypeContainsPropertyType"/>
	<xsd:element name="OriginalTypeContainsProperty" type="model:TypeContainsPropertyType"/>
	<xsd:element name="UpdatedTypeContainsProperty" type="model:TypeContainsPropertyType"/>
	<xsd:element name="RemovedTypeContainsProperty" type="model:TypeContainsPropertyType"/>
	<xsd:element name="NewFacetEntry" type="log:NewFacetEntryType"/>
	<xsd:element name="ModifiedFacetEntry" type="log:ModifiedFacetEntryType"/>
	<xsd:element name="RemovedFacetEntry" type="log:RemovedFacetEntryType"/>
	<xsd:element name="NewFacet" type="model:FacetType"/>
	<xsd:element name="OriginalFacet" type="model:FacetType"/>
	<xsd:element name="UpdatedFacet" type="model:FacetType"/>
	<xsd:element name="RemovedFacet" type="model:FacetType"/>
	<xsd:element name="NewNamespaceEntry" type="log:NewNamespaceEntryType"/>
	<xsd:element name="ModifiedNamespaceEntry" type="log:ModifiedNamespaceEntryType"/>
	<xsd:element name="RemovedNamespaceEntry" type="log:RemovedNamespaceEntryType"/>
	<xsd:element name="NewNamespace" type="model:NamespaceType"/>
	<xsd:element name="OriginalNamespace" type="model:NamespaceType"/>
	<xsd:element name="UpdatedNamespace" type="model:NamespaceType"/>
	<xsd:element name="RemovedNamespace" type="model:NamespaceType"/>
</xsd:schema>
